* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: 'Nunito Sans', sans-serif;
}
a {
  text-decoration: none;
  color: black;
  text-align: center;
}

ul li {
  list-style: none;
}
h1{
  font-weight: 800;
}
h2{
  font-weight: 600;
}
span{
  font-weight: 800;
}