.main {
    padding: 40px;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
}
.btn {
    overflow: hidden;
    height: 0;
    width: 0;
    background-color: transparent;
    padding: 0;
}

.elements {
    display: grid;   
    width: 100%;
    height: 100%;
    margin-top: 10%;
    gap: 90px;
}
.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
    transition: ease-in-out .3s;
}
.element:hover {
    transform: scale(110%);
}

.element .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin: 40px 20px;
}

.element h2 {
    margin-bottom: 15px;
    font-weight: 900;
}

.element img {
    width: 100%;
    height: 13rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@media(max-width: 3000px){
    .elements{
        grid-template-columns: repeat(5,1fr);
    }
}
@media(max-width: 1800px){
    .elements{
        grid-template-columns: repeat(4,1fr);
    }
}
@media (max-width: 1300px) {
    .elements {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1000px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    .search{
        margin-left: 0;        
    }
    .elements {
        grid-template-columns: repeat(1, 1fr);
    }
}